{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url(https://images.unsplash.com/photo-1518481774046-f7384edaf3fa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">You really want to know about meeeee</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello there beautiful human. It's meeeeeeee.
        </p>
        <p>
          So you came here because you want to know more about me.
          I'm Bolaji(I'm not telling you my full name). I'm a female homo-sapien.
          I'm a python developer(yeahh I actually designed this myself).
        </p>
        <p>
          Okayy let me actually tell you about me. I enjoy a good read. My top two books are
          My sister the serial killer and Stay with me.
          I love watching YouTube videos.
          I really don't know what else to say.
          But you can go to the Contact page and ask me what you want to know.
          Byeeeee
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
